<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adminosama-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5215.site4now.net:8172/msdeploy.axd?site=adminosama-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>adminosama-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>adminosama-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="kahreedoEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-8NOS7H9\SQLEXPRESS;Initial Catalog=kahreedo;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IMS_Project.Models.kahreedoEntities, IMS-Project" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IMS_Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=DESKTOP-8NOS7H9\SQLEXPRESS;Initial Catalog=kahreedo;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=IMS;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IMS_Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.IMSDataModel.csdl|res://*/Models.IMSDataModel.ssdl|res://*/Models.IMSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IMS_Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.IMSDataModel.csdl|res://*/Models.IMSDataModel.ssdl|res://*/Models.IMSDataModel.msl;provider=System.Data.SqlClient;provider connection string="data source=DESKTOP-8NOS7H9\SQLEXPRESS;initial catalog=kahreedo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="kahreedoEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.KahreedoDataModel.csdl|res://*/Models.KahreedoDataModel.ssdl|res://*/Models.KahreedoDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=DESKTOP-8NOS7H9\SQLEXPRESS;Initial Catalog=kahreedo;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>